[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "acdcR"]
	path = acdcR
	url = https://github.com/ysd2004/acdcr
[submodule "portn"]
	path = portn
	url = https://github.com/ysd2004/portn
